.Dot {
  transition: stroke-opacity 1s, stroke-width 1s;
}

.TheirTurn {
  cursor: not-allowed;
}

.OurTurn:hover {
  stroke-opacity: 0;
  stroke-width: 0;
  cursor: grab;
}

.Selected {
  stroke-width: 0;
}

.flash:hover {
  animation: shake 1s linear;
}

.flash {
  cursor: not-allowed;
}
