.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: space-between;
  height: 100%;
  width: 100%;
}

.App-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: space-between;
  height: 100%;
  width: 100%;

  background-size: 50px 50px;
  /* background-image: linear-gradient(to right, cyan 2px, transparent 1px), linear-gradient(to bottom, cyan 1px, transparent 1px); */
  background-image: radial-gradient(circle, #61d60914 2px, rgba(0, 0, 0, 0) 55px);
}

.LeftPanel {
}

.CentrePanel {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.RightPanel {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Recognition {
  background-color: #f3efd6;
  font-family: fantasy;
  font-size: 10px;
  opacity: 0.6;
}

.Author {
  background-color: #f3efd6;
  font-family: fantasy;
  font-size: 12px;
}
